<button mat-mini-fab class="dialogCloseBtn" (click)="closeDialog()">
  <span class="icon icon-functional" data-icon="x" style="font-size:12px;"></span>
</button>
<div *ngIf="dialogData.entryList.length > 1" class="entrySelectionBox" style="color: white; background-color: rgb(116,179,96)">
  <div style="height:10%">&nbsp;</div>
  <strong><i class="icon icon-generic" data-icon="i"></i> Select PDB entry from dropdown: </strong>
  <select style="width:auto; font-weight: bold" (change)="updateView($event.target.value)">
    <ng-template ngFor let-entry [ngForOf]="dialogData.entryList" let-i="index">
      <option [attr.value]="i" [attr.selected]="(i == dialogData.current) ? 'true' : null">{{getlabel(i)}}</option>
    </ng-template>
  </select>
</div>
<div class="molstarBox" [style.height]="dialogData.entryList.length > 1 ? '95%' : '100%'" style="min-height: 600px">
  <div id="app"></div>
</div>
